li{
    font-weight: bold;
    font-style: Rubik;
    font-size: 24px;
}
p{
    word-wrap: break-word;
    word-break: break-all;}
#experience{
    padding-bottom: 5%;
} 
                                