li{
    font-weight: bold;
    font-style: Rubik;
    font-size: 24px;
    list-style: none;
    align-items: left;
    color: var(--Primary-Color  );
}

#experience{
    padding-bottom: 5%;
    align-items: left;
} 
#card1{
    align-content: left;
}

                                