:root {
    --Eggshell-White: #EAE7DC;
    --Dark-Vanilla: #D8C3A5;
    --Taupe-grey: #8E8D8A;
    --Jelly-Bean-Red: #E98074;
    --Jelly-Dark-Red: #E85A4F;
    /* FONT FAMILY 
    using Rubik for headers 
    Poppins for body 

    */
    
}
