:root {
    --Base-Color: #6D214F;
    --Primary-Color: #F97F51;
    --Secondary-Color:#FEA47F;
    --Tertiary-Color: #B33771;
    /* FONT FAMILY 
    using Rubik for headers 
    Poppins for body 

    */
    
}
p, li {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FEA47F;
}
h1{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #F97F51;
    text-align: start;
}
