@import url("/Users/anticoffee/Documents/Webby/personalWebsite/src/styles/Global.css");

.App {
  background-color: var(--Base-Color);
  /* 
  /* padding-left: 15%; */
  padding-right: 5%;
  margin-left: 10%;
}
html,
body {
  margin: 0px;
}